<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	
	<property name="loggingPattern" 
	value="%d{HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}] - %msg [END]%n%ex{full}"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>${loggingPattern}</Pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>